@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till JobWatch!</h1>
    <p>Här kan du se nya roliga jobb! Bara att skapa ett konto!</p>
    <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-primary btn-lg mt-2">Sign Up</a>
</div>
